* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
     background-image: url("background-about.png");
     width:100vw;
       
}

.header {
    background: rgba(0, 0, 0, 0.5);
}
/* .navbar{
    height: 85px;
} */
.dropdown-menu{
    background: rgba(0, 0, 0, 0.5);
}

.nav-item,.dropdown-item{
    font-size: 20px;
}

.dropdown-toggle::after {
    display: none;
}

.custom-scrollbar .dropdown-item:hover,
.custom-scrollbar .dropdown-item:focus,
.custom-scrollbar .dropdown-item:active {
    background-color: #495057; /* Adjust hover background color */
    color: #fff; /* Adjust text color if needed */
}

.content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: black;
    font-weight: bold;
}

.content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #c52b2b;
    font-weight: bold;
    letter-spacing: 3px;
}

.form h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.form{
    border:3px rgba(43, 42, 42, 0.5);
    box-shadow: 2px 2px 18px rgba(6, 6, 6, 0.5);
}
label{
    color:black;
    font-weight: bold;
}
.btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    margin-left: 0; /* Remove fixed margin */
    transition: background-color 0.3s ease;
    width: 100%; /* Full width on small screens */
}

@media (min-width: 768px) {
    .btn {
        margin-left: 0; /* Adjust for medium screens and larger */
        width: auto; /* Auto width for larger screens */
    }
}

.btn:hover {
    background-color: black;
}
