* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
     background-image: url("background-about.png");
    
       
}

.header {
    background: rgba(0, 0, 0, 0.5);
}
/* .navbar{
    height: 85px;
} */
.dropdown-menu{
    background: rgba(0, 0, 0, 0.5);
}

.nav-item,.dropdown-item{
    font-size: 20px;
}

.dropdown-toggle::after {
    display: none;
}

.custom-scrollbar .dropdown-item:hover,
.custom-scrollbar .dropdown-item:focus,
.custom-scrollbar .dropdown-item:active {
    background-color: #495057; 
    color: #fff; 
}
.heading {
    letter-spacing: 5px;
    font-size: 45px;
    font-weight: 700;
    
}



.image-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensure no overflow issues */
}

.image-container img {
    display: block;
    width: 100%;
    height: 100%; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
    
}
.image-container img:hover {
    
    transform: translateY(-10px);
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 30%; /* Adjust to cover the image fully */
    background-color: #c52b2ba8;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    opacity: 0;
    transition: opacity 0.3s ease;
    
}

.image-container:hover .overlay {
    opacity: 1;
    
}

.overlay h3 {
    font-size: 16px; /* Adjust size for smaller screens */
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px; /* Add some padding */
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .overlay h3 {
        font-size: 13px; /* Adjust size for smaller screens */
        
        letter-spacing: 2px;
       
    }
  }
  @media (max-width: 575.98px) {
    .overlay h3 {
        font-size: 10px; /* Adjust size for smaller screens */
        
        letter-spacing: 2px;
       
    }
  }